dnspython
idna
pip
pytz
Jinja2
Werkzeug
itsdangerous
click
numpy
setuptools
MarkupSafe
pandas
python-dateutil
WTForms
six
greenlet
Flask
flask_wtf
flask_sqlalchemy
Flask-Migrate
email_validator
jupyter